<!--The content below is only a placeholder and can be replaced.-->
<div>
<input placeholder="Search" name="searchInput" [(ngModel)]="searchString"/>
<button type="button" (click)="search(searchString)">Search</button>
  <ul *ngFor="let repo of repositories">
    <li>
      Full Name: {{repo.full_name}}
    </li>
    <li>
      Avatar Url: {{repo.owner.avatar_url}}
    </li>
    <li>
      Url: {{repo.url}}
    </li>
    <li>
      Score: {{repo.score}}
    </li>
    <li>
      Description: {{repo.description}}
    </li>
  </ul>
</div>
